::selection {
    color: black;
    background-color: white;
}

::-moz-selection {
    color: black;
    background-color: white;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #100848;
    color: white;
    margin-top: 30px;
}

header {
    text-align: center;
}

h1 {
    background-color: #4C3A6E;
    width: fit-content;
    margin: auto;
}

main {
    background-color: #4C3A6E;
    width: 550px;
    height: 275px;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

input {
    height: 2em;
    border: none;
}

input:focus {
    outline-style: solid;
    outline-color: #100848;
    outline-width: 2px;
}

button {
    background-color: #C39EBA;
    border:none;
    padding: 8px 15px 8px 15px;
    color:white;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
}

button:hover {
    opacity: 0.8;
}

footer{
    text-align: center;
    margin-top: 27vh;
}

a {
    color: white;
}

a:hover {
    background-color: #C39EBA;
    color: black;
}

hr {
    width: 30%;
    border: none;
    height: 2px;
    background-color: white;
}

@media all and (max-width: 600px){   
    main {
        width: 90vw;
    }
}

@media all and (max-width: 800px) {
    hr {
        width: 240px;
    }
}
